<?xml version="1.0" encoding="utf-8"?>
<!--
此文件由 Web 项目的发布/打包过程使用。可以通过编辑此 MSBuild 文件
自定义此过程的行为。为了解与此相关的更多内容，请访问 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://cn-ins-elinkcicd-appservice-001-d.chinacloudsites.cn</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>20954c9d-46c5-4699-a2a2-a283e13faab5</ProjectGuid>
    <PublishUrl>https://cn-ins-elinkcicd-appservice-001-d.scm.chinacloudsites.cn/</PublishUrl>
    <UserName>$CN-INS-ELINKCICD-APPSERVICE-001-D</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>